name: Devops demo

on:
  push:
    branches: [ main ]

jobs:
  example:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Show files in repo
        run: ls -a

      - name: Demonstrate seeing output in github actions
        run: echo "This is an example of output in github actions"

      - name: Use my secret
        run: echo "My password is ${{ secrets.MY_PASSWORD }}"
